{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Currency Prices plugin for Craft CMS 3.x
 *
 * CurrencyPricesField Field Input
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      https://kurious.agency
 * @package   CurrencyPrices
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div class="meta">
{% for currency in values %}
{{ forms.textField({
        label: currency.iso,
        id: name~currency.id,
        name: name~'['~currency.iso~']',
        value: currency.value != '' ? currency.value|number,
		placeholder: 'Enter price',
		required: currency.primary ? false : true,
		disabled: currency.primary,
	})
}}
{% endfor %}
</div>